---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';

const pageTitle = "About Me";

const identity = {

    firstName: "Cameron",
    country: "United States",
    occupation: "Mathematics & Physics Tutor",
    hobbies: ["Graphic Design", "Programming", "RockSat"]

}

const skills = ["JS/CSS/HTML", "C/C++", "Java", "Single- and Multi-Variable Calculus"];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "crimson";

const fontWeight = "bold";

const textCase = "uppercase";

---

<style is:global define:vars={{skillColor, fontWeight, textCase}}>

        .skill {
            color: var(--skillColor);
            font-weight: var(--fontWeight);
            text-transform: var(--textCase);
        }

        .aboutMeContentBox {

            padding: 4em 2em 0em 2em;

        }

</style>

<BaseLayout pageTitle={pageTitle}>

    <div class="aboutMeContentBox">
        
        <h1>{pageTitle}</h1>

        <p>Here are some facts about me:</p>

        <ul>

            <li>My name is {identity.firstName}</li>
            <li>My live in {identity.country} and I work as a {identity.occupation}</li>

            { identity.hobbies.length >= 2 &&
                <li>Two of my favorite hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
            }

        </ul>

        <p>My skills are:</p>
        <ul>
            {skills.map((skill) => <li class="skill">{skill}</li>)}
        </ul>

        {happy && <p>I am not happy AT ALL to be learning Astro :(</p>}
        {finished && <p>I finished this tutorial!</p>}
        {goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is to finish in not 3 days.</p>}


    </div>

</BaseLayout>