---
interface Props {

    href?: string;
    title: string;
    isDropdown?: string;
    clickable?: string;

}

const { href, title, isDropdown = "false", clickable = "true" } = Astro.props;
import { Icon } from "astro-icon/components";
import Dropdown from "./Dropdown.astro";
---

<a href={href} data-is-dropdown={isDropdown} data-title={title} data-clickable={clickable}>
    <span class="navLinkTitle">
        {title}
    </span>
    <Icon name="Dropdown_Arrow"/>
    <Dropdown visible={isDropdown}/>
</a>

<style>

    [data-is-dropdown="false"] {

        [data-icon] {

            display: none;

        }

    }

    [data-is-dropdown="true"] {

        [data-icon] {

            height: 25%;
            width: auto;

        }

    }

    [data-clickable="false"] {

        span::after {

            display: none;

        }

    }

</style>
